body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
}

.submit-btn {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049;
}

a {
    color: inherit; /* Use the default text color */
    text-decoration: none; /* Remove underline */
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.footer img {
    width: 20px;
    margin: 10px;
}
